* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fafafa;
    color: #264653;
    padding-bottom: 40px;
}

header {
    background-color: #f4a261;
    padding: 20px;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 28px;
}

nav {
    background-color: #264653;
    padding: 10px 0;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

nav p {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.2s;
}

nav a:hover {
    color: #2a9d8f;
    opacity: 0.8;
}

.form-container {
    width: 60%;
    margin: 2em auto;
}

form {
    background-color: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0px 8px 12px -4px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.titulo {
    font-size: 26px;
    text-align: center;
    font-weight: bold;
    color: #264653;
    margin-bottom: 10px;
}

.subtitulo {
    font-size: 18px;
    margin-top: 10px;
    color: #2a9d8f;
}

form label {
    font-size: 18px;
}

form input[type="text"],
form input[type="email"],
form textarea,
form select {
    width: 100%;
    padding: 12px;
    border-radius: 15px;
    border: 2px solid #ccc;
    font-size: 16px;
    background-color: #fafafa;
    color: #264653;
}

form textarea {
    resize: vertical;
}

form select {
    cursor: pointer;
}

.opcoes-inline {
    display: flex;
    gap: 1.5rem;
}

.opcoes-colunas {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.opcoes-inline label,
.opcoes-colunas label {
    font-size: 16px;
    cursor: pointer;
}

form button {
    width: 50%;
    margin: 10px auto 0;
    padding: 12px;
    font-size: 18px;
    background-color: #2a9d8f;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background-color: #264653;
}

footer {
    background-color: #264653;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3 {
  font-family: "Luckiest Guy", cursive;
}

@media (max-width: 600px) {

    .form-container {
        width: 90%;
    }

    form {
        padding: 18px;
    }

    .opcoes-inline {
        flex-direction: column;
    }

    form button {
        width: 80%;
    }

    nav ul {
        flex-direction: column;
        gap: 12px;
    }
}
