* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fafafa;
    color: #264653;
}

header {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 25px;
    background-color: #f4a261;
    color: white;
}

header img {
    border-radius: 8px;
}


nav {
    background-color: #264653;
    padding: 15px 25px;
    color: white;
}

nav h3 {
    margin-bottom: 10px;
}

nav p {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
}

nav a:hover {
    opacity: 0.7;
}


main {
    padding: 25px;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4, 1fr);
}


article {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: 0.3s;
}

article:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

article img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 10px;
}

article h3 a {
    text-decoration: none;
    color: #264653;
}

article p {
    margin-top: 10px;
    color: #555;
}

footer {
    background-color: #264653;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

footer a {
    color: #e9c46a;
    text-decoration: none;
}

.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3 {
  font-family: "Luckiest Guy", cursive;
}

h2 {
   margin:0 auto;
   text-align: center;
}


@media (max-width: 600px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav p {
        flex-direction: column;
        gap: 10px;
    }

    article img {
        width: 90px;
        height: 90px;
    }
}

@media (max-width: 800px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    main {
        grid-template-columns: 1fr;
    }
}