* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fafafa;
    color: #264653;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #f4a261;
    padding: 20px;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 28px;
}


main {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    flex: 1;

    display: flex;
    flex-direction: row;       
    align-items: flex-start;
    justify-content: center;
    gap: 30px;                 
    flex-wrap: wrap;           
}


main img {
    width: 350px;
    max-width: 90%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


main .conteudo {
    max-width: 500px;
    text-align: left;
}

main p {
    font-size: 18px;
    line-height: 1.6;
    margin: 20px 0;
    text-align: justify;
}

main dt {
    margin-top: 25px;
    margin-bottom: 8px;
    font-size: 22px;
    color: #2a9d8f;
}

main dl {
    list-style: disc;
    margin: 20px 0;
    padding-left: 20px;
}


main a {
    display: inline-block;
    margin-top: 25px;
    font-weight: bold;
    text-decoration: none;
    color: #2a9d8f;
    transition: 0.2s;
}

main a:hover {
    opacity: 0.7;
}


footer {
    background-color: #264653;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

@media (max-width: 600px) {
    main {
        flex-direction: column;  
        align-items: center;
        padding: 10px;
    }

    main img {
        width: 80%;
        margin-bottom: 20px;
    }

    main p,
    main dl dt {
        font-size: 16px;
    }

    main .conteudo {
        text-align: center;
    }
}
