* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
    font-family: "Luckiest Guy", cursive;
}

body {
    background-color: #fafafa;
    color: #264653;
}

main {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "section"
        "footer";
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
}

header {
    grid-area: header;
    background-color: #f4a261;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 25px;
    color: white;
}

nav {
    grid-area: nav;
    background-color: #264653;
    padding: 20px 25px;
    color: white;
    text-align: center;
}

nav h2 {
    margin-bottom: 15px;
    font-weight: bold;
}

nav p {
    display: flex;
    justify-content: center;
    gap: 65px;
    flex-wrap: wrap;
    font-size: 18px;
}

nav a:hover {
    color: #f4a261;
}

section {
    grid-area: section;
    padding: 25px;
}

footer {
    grid-area: footer;
    background-color: #264653;
    color: white;
    display: grid;
    place-items: center;
    padding: 20px;
}

footer a {
    font-size: 18px;
    color: #f4a261;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}


.produtos article {
    flex: 1 1 240px;
    max-width: 300px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 14px;
    padding: 20px;
    text-align: center;
    transition: 0.3s ease;
}

.produtos article:hover {
    transform: translateY(-6px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.produtos img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.produtos h3 {
    font-size: 18px;
    color: #264653;
    margin: 8px 0;
    font-weight: bold;
}


article p {
    color: #666;
    font-size: 14px;
    margin: 6px 0 12px;
    min-height: 40px;
}

article span {
    display: inline-block;
    background-color: #f4a261;
    padding: 6px 12px;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    font-size: 16px;
}